[package]
name = "probe-test-attr"
version = "0.1.0"
authors = ["Benjamin Naecker <ben@oxide.computer>"]
edition = "2021"

[dependencies]
usdt = { path = "../usdt", default-features = false }
serde = "1"

[build-dependencies]
version_check = "0.9.4"

[features]
default = ["asm"]
asm = ["usdt/asm"]
