[package]
name = "usdt"
version = "0.3.2"
authors = ["Benjamin Naecker <ben@oxidecomputer.com>",
           "Adam H. Leventhal <ahl@oxidecomputer.com>"]
edition = "2018"
license = "Apache-2.0"
description = "Dust your Rust with USDT probes"
repository = "https://github.com/oxidecomputer/usdt.git"

[dependencies]
dtrace-parser = { path = "../dtrace-parser", version = "0.1.12", optional = true }
serde = "1"
usdt-impl = { path = "../usdt-impl", version = "0.3.2", default-features = false }
usdt-macro = { path = "../usdt-macro", version = "0.3.2", default-features = false }
usdt-attr-macro = { path = "../usdt-attr-macro", version = "0.3.2", default-features = false }

[features]
default = ["asm"]
asm = ["usdt-impl/asm", "usdt-macro/asm", "usdt-attr-macro/asm", "dtrace-parser"]
