name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  style-check:
    name: Check Rust style
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt
      - run: cargo fmt -- --check

  linux-check:
    name: Basic check that `usdt` compiles without issue on Linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        no-linker-feature: [ "", "--features no-linker" ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          profile: minimal
      - run: >
          RUST_BACKTRACE=1
          cargo check
          --release
          --verbose
          --workspace
          ${{ matrix.no-linker-feature }}

  build-and-test:
    name: Build and test entire `usdt` project
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ macos-latest ]
        no-linker-feature: [ "", "--features no-linker" ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          profile: minimal
      - run: >
          RUST_BACKTRACE=1
          cargo test
          --release
          --no-fail-fast
          --verbose
          --workspace
          --exclude test-json
          ${{ matrix.no-linker-feature }}

  test-json-support:
    name: Test JSON-serialization support
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          profile: minimal
      - run: >
          RUST_BACKTRACE=1
          cargo test
          --release
          --no-fail-fast
          --verbose
          --workspace
          --package test-json
